version: 2.1

jobs:
  build-and-deploy:
    docker:
      - image: cimg/node:20.10

    steps:
      - checkout

      - run:
          name: Install dependencies
          command: npm install

      - run:
          name: Build Vite project
          command: npm run build

      - run:
          name: Deploy to Azure Static Web Apps
          command: npx @azure/static-web-apps-cli deploy ./dist --deployment-token $AZURE_SWA_TOKEN

workflows:
  deploy:
    jobs:
      - build-and-deploy
